# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Database file - ephemeral, will get created on startup
*.db
*.db-journal

# OS garbage
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
